
.dw{
    color: #f5f103;border-radius: 5px;text-decoration: none;
}
#open-btn{
    
  
    border-radius: 20px;
    background-color: rgb(42, 104, 68);
    color: white;
    
  }
   

.d{display: none;}
